@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media only screen and (min-width: 1024px) {
    #about{
        display: flex;
        align-items: center;
    }
    #about p{
        margin-right: 500px;
    }
    #about a{
        margin-left: 10px;
        margin-right: 10px;
    }
    #nav-bar{
        display: flex;
    }
    .swiper {
        width: 50%;
        height: 50%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}